<tr class="">
    <td><strong class="only-mobile">Orifinal : </strong><span class="to-search from"></span></td>
    <td><strong class="only-mobile">
        Phonetic : </strong><span class="to-search phonetic"></span></td>
    <td class="to-search sr-only slug"></td>
    <td>
        <strong class="only-mobile">English : </strong>
        <ul class="to-search to"></ul>
    </td>
    <td>
        <strong class="only-mobile">Category : </strong>
        <span class="on-tooltip to-search skill_title" data-tooltip=""></span>
    </td>
    <td>
        <strong class="only-mobile sentences">Sentences : </strong>
    </td>
    <td>
        <i data-audio="" class="audio fas fa-volume-down play"></i>
    </td>
</tr>
